<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand" href="javascript:;">GROU</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			</div>
		</nav>
  </header>
  
		<section>
			<div class="container">
        
        <app-service-available></app-service-available>
        
        <app-form-json></app-form-json>

        <button class="btn btn-primary" type="submit">Enviar</button> 

      </div>
		</section>


	<footer>
		<div class="container"></div>
  </footer>
  

</body>
</html>