<div class="row">
    <div class="col-6">
        <h3>BE</h3>
        <button type="button" class="btn btn-success">cmaq24mp19ld05</button>
        <button type="button" class="btn btn-danger">cmaq24mp19ld06</button>
        <button type="button" class="btn btn-warning">cmaq24mp19ld07</button>
        
    
    </div>
    <div class="col-6">
        <h3>BordaCachos</h3>
        <button type="button" class="btn btn-success">cmaq24mp23ld02</button>
       <button type="button" class="btn btn-danger">cmaq24mp23ld01</button>
        
    </div>
  </div>

  <div class="row">
      <div class="col-6">
          <h3>Borda</h3>
          <button type="button" class="btn btn-success">cmaq24ld27</button>
          <button type="button" class="btn btn-danger">cmaq24ld27</button>
      </div>

      <div class="col-6">
          <h3>FE</h3>
          <button type="button" class="btn btn-success">cmaq24mp23ld03</button>
      </div>
</div>   